/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --decor-color: #ff0070;
  --secondary-text-color: #000028;
  --decor-text-color: var(--decor-color);
  --main-bg-image: url('../images/cover-image-dark.png');
  --decor-shadow: var(--decor-color);
  --decor-rec-color: var(--decor-color);
  --decor-line-title: var(--decor-color);
  --visible-rec: block;
  --main-focus-button-border-color: var(--decor-color);
  --main-hover-button-border-color: #ff007066;
  --page-bg-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1b2ce;
    --title-text-color: #db00ff;
    --decor-color: #ff0070;
    --secondary-text-color: #000028;
    --decor-text-color: var(--decor-color);
    --main-bg-image: url('../images/cover-image-dark.png');
    --decor-shadow: var(--decor-color);
    --decor-rec-color: var(--decor-color);
    --decor-line-title: var(--decor-color);
    --visible-rec: block;
    --main-focus-button-border-color: var(--decor-color);
    --main-hover-button-border-color: #ff007066;
    --page-bg-color: #000028;
  }
}
